__pycache__/
.idea/
.git/
.ipynb_checkpoints/
.DS_Store/
model/
DS_Store/
data/cade/
data/input/
data/split/
data/processed_data.csv
data/ppmi-matrices/large/
packages/DynamicWord2Vec2/
packages/Word2VecCustom/
packages/TPPMI/__pycache__/
